body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: #333;
}

#tic-tac-toe-board {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  background-color: #fff;
  /* border: 2px solid #333; */
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px;
  height: 100px;
  margin: 2px;
}

.cell:hover {
  background-color: #e3e3e3;
}

@media (max-width: 600px) {
  #tic-tac-toe-board {
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
  }

  .cell {
    width: 80px;
    height: 80px;
  }
}

.game-message {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
  color: #333;
}

.turn-indicator {
  margin-top: 20px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.turn-indicator-message {
  margin: 0;
  padding: 10px 15px;
  background-color: rgb(45, 55, 166);
  color: #fff;
  font-weight: bold;
  /* border: 2px solid #333; */
  border-radius: 10px;
}

#resetButton {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #333;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.game-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.winning-cell {
  background-color: green;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.cell-x {
  color: indigo; /* Change this to the color you want for X */
}

.cell-o {
  color: mediumseagreen; /* Change this to the color you want for O */
}
